PORT=4000
DATABASE_URL="postgresql://username:password@db:5432/ai_toolkit?schema=public"
POLLINATIONS_BASE_URL="https://gen.pollinations.ai"
POLLINATIONS_API_KEY=token
DB_USER=username
DB_PASSWORD=password
DB_NAME=ai_toolkit